.categoryItem{
    position: relative;
    text-align: center;
    margin-bottom: 25px;
    display: block;
    cursor: pointer;
}
.categorytInner{
    cursor: pointer;
}

.categorytInner img{
    vertical-align: bottom;
    transition: all .3s ease-in;
    width: 100%;
}
.categorytInner h4{
    font-weight: bold;
    font-style: normal;
    text-transform: none;
    color: #333333;
    display: block;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2vw;
    margin: 0;
}