.footer {
    font-size: 14px;
    padding: 20px 0;
    border-top: solid 1px #1b1f23;
    background-color: #1b1f23;
    background-position: center center;
    color: #6b6b6b;
}

.footerContainer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    -webkit-column-gap: 2rem;
    column-gap: 2rem;
}

.footer h6 {
    margin: 0;
    padding: 0 0 5px 0;
    color: #7f8c8d;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 15px;
}
.footerCols {
    margin-left: 10px;
    margin-right: 10px;
}
.footer .footerNav {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
}

.footer .footerNav li {
    margin-bottom: 1em;
    line-height: 1.1;
}
.footer a, .footer a:visited {
    color: #7f8c8d;
    font-size: 14px;
}

.footer  .socialMedia{
    display: flex;
    margin: 0;
    list-style: none;
}
.footer  .socialMedia li{
    margin: 0;
}
.footer  .socialMedia li + li{
    margin-left: 15px;
}
.footer  .socialMedia li svg{
    color: #6b6b6b;
    font-size: 22px;
    display: inline-block;
    margin-bottom: 1em
}
.footer  .socialMedia li a:hover svg{
    color: #ffffff;
}

.footer  .credits {
    text-align: left;
    padding-top: 20px;
}