.heading{
    text-align: center;
    padding-bottom: 0.75em;
    padding-top: 0.75em;
      border-bottom: solid 2px #aaaaaa;
}
.heading h2,
.heading a{
    font-weight: bold;
    font-style: normal;
    text-transform: none;
    color: #333333;
    display: block;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        font-size: 22px;
    margin-bottom: 0em;
    line-height: 1.5;
        cursor: pointer;
}
.heading h2{
    cursor:inherit;
}