.top_bar {
    height: 40px;
background-color: #000000;

color: #fff;
display: flex;
}
.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 20px;
    margin-right: 0px;
    width:100%;
}
.topRight{
    display: flex;
    align-items: center;
    color: #ffffff;
}
.topLoginMenu,
.topCartMenu 
{
    
    padding-left: 10px;
    padding-right: 10px;
}
.topLoginMenu a,
.topCartMenu a{
    color: #f4f4f4;
    font-size: 12px;
    letter-spacing: 1px;
}
.topCartMenu a svg{
    font-size: 15px;
    line-height: 15px;
    margin-right: 10px;
}
.topCartMenu {
    text-align: center;
    cursor: pointer;
    background-color: #d54d4d;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    background: rgba(51,51,51,0.9);
}
.headerContainer{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
}
.navigation {
    grid-column: 1/span 4;
}
.navigation ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 20px;
}
.navigation ul li{
    padding-left: 5px;
    padding-right: 5px
}
.navigation li a{
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        color: #d9d9d9;
        padding-top: 12px;
        padding-bottom: 12px;
        position: relative;
        display: block;
        letter-spacing: 1px;
        font-family: 'Roboto', sans-serif;
        outline: 0;
    
}
.navigation li.active a, 
.navigation li a:hover {
    color: #ffffff;
    box-shadow: 0 2px #ffffff;
}
.logo {
    grid-column: 5/span 4;
    text-align: center

}
.logo svg{
    font-size: 2.5rem;
    color: #ffffff;
}
.logo span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo span span{
    color: #ffffff;
    font-size: 1.5rem;
}
.rightSide{
    margin: 0 20px;
    grid-column: 9/span 4;
    text-align: right; 
}
.search{
display: flex;
border: 1px solid #d9d9d9;
display: inline-block;
border: 1px solid #d9d9d9;
vertical-align: middle;
padding: 0 7px;
height: 42px;
min-height: 42px;
}
.search [type="search"]{
    border: none; 
    background: none;
    padding: 8px;
    font-weight: bold;
    font-size: 12px;
    color: #d9d9d9;
}
.search [type="search"]::-moz-placeholder,
.search [type="search"]:-ms-input-placeholder,
.search [type="search"]:-moz-placeholder,
.search [type="search"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d9d9d9;
  }
 
.search [type="search"]:focus{
    border: none;
    outline: none;
    box-shadow: none
}
.search svg{
    color: #d9d9d9;
    font-size: 20px;
    margin: -5px auto;
}