.Hero{
   
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: #666;
        height: 100vh;
        margin-bottom: 35px;
}
.Hero img{
    object-position: center;
object-fit: cover;
height: 100%;
width: 100%
}