.shippingBar{
    text-align: center;
    margin: 0px;
    padding: 10px;
    left: 0px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: rgb(242, 242, 242);
    color: rgb(53, 75, 94);
    font-size: 15px;
    line-height: 18.75px;
    
}
.shippingBar p{
    margin: 0;
}
.shippingBar span{
    color: rgb(217, 0, 6);
    font-size:15px;
    margin-left: 10px;
    
}